@tailwind base;
@tailwind components;
@tailwind utilities;

.screenshot-gradient {
  background: linear-gradient(to right, #facc15, #a3e635, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
